.home {
    
    .home-description {
        min-height: 500px;
        background-color: black;
        color: white;
        padding: 50px;
        position: relative;
    }
    
    .description {
        bottom: 0;
        position: absolute;
        
        h1 {
            margin: 50px auto 75px 0;
            max-width: 75%;
        }

        span {
            color: $grey;
        }
    }

    .client {
        max-height: 500px;
        overflow: hidden;
        position: relative;
    }

    .client-details {
        position: absolute;
        bottom: 0;
        padding: 50px;
        color: $link-light;

        a {
            position: relative;

            &:before {
                content: ' ';
                position: absolute;
                background-color: $background;
                height: 2px;
                width: 25px;
                top: 10px;
            }

            &:hover {
                &:before {
                    width: 35px;
                    // animation: 
                }
            }
        }
    }

    .client-name {
        font-family: $headings;
    }
}
