.home {
    
    .home-description {
        min-height: 450px;
        background-color: black;
        color: white;
        padding: 50px;
        position: relative;
    }
    
    .description {
        bottom: 0;
        position: absolute;
        
        h1 {
            margin: 40px auto 40px 0;
            max-width: 75%;
        }

        span {
            color: $grey;
        }
    }

    .client {
        max-height: 500px;
        overflow: hidden;
        position: relative;
    }

    .client-details {
        position: absolute;
        bottom: 0;
        padding: 50px;
        color: $link-light;
    }

    .client-name {
        font-family: $headings;
    }
}
