$black: #000000;
$white: #ffffff;

// COLOUR PALETTE

$grey: #969696;
$dark-grey: #525252;

// MAIN
$background: $white;
$background-dark: $black;
$border: $black;

// HEADER & FOOTER
$main-background: $black;
$scroll-background: $white;

// TEXT COLOUR
$text-dark: $black;
$text-grey: $grey;
$text-light: $white;

// LINKS
$link: $black;
$link-light: $white;

// ELEMENTS COLORS
$button-bg: $dark-grey;
$button-hover-bg: $white;

// PAGINATION
$page-active-bg: $dark-grey;
$page-active: $white;
