---
layout: default
---

<div class="home">
  
  <div class="home-description">
    <div class="description">
      <h1>Experience design and intelligent marketing for growing brands.
        <span>We focus on driving results.</span>
      </h1>
    </div>
  </div>
  
  {% for client in site.data.home.clients %}
  <div class="client">
    <div class="client-details">
      <h2 class="client-name">{{client.name}}</h2>
      <a href="{{ client.link }}">View Work</a>
    </div>
    <img srcset="{{ site.baseurl }}{{ client.imgmedium }} 768w, 
         {{ site.baseurl }}{{ client.imglarge }} 1024w"
         src="{{ site.baseurl }}{{ client.imgsmall }}"
         alt="yah" data-expand="-20" class="lazyload">
  </div>
  {% endfor %}
</div>
